<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sus</title>
</head>
<body style="max-width: 700px; max-height: 700px; margin: 0 auto;">
    <div class="tenor-gif-embed" data-postid="22113367" data-share-method="host" data-aspect-ratio="1" data-width="100%"></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
</body>
</html>